html
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after
{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html,
body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Coda', cursive;

    background: #fff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
}

.container
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

h1
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    width: 660px;
    min-height: 680px;
    margin: 0 0 3em;
    padding: 32px;

    border-radius: 10px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, .5);
            box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, .5);
}

.deck .card
{
    font-size: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    width: 125px;
    height: 125px;

    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;

    color: #fff;
    border-radius: 8px;
    background: #2e3d49;
    -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, .5);
            box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, .5);
}

.deck .card.open
{
    cursor: default;

    background: #02b3e4;
}

.deck .card.flip
{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.deck .card.show
{
    font-size: 33px;
}

.deck .card.match
{
    font-size: 33px;

    cursor: default;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);

    background: #02ccba;
}

/*
 * Styles for the Score Panel
 */

.score-panel
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars
{
    display: inline-block;

    margin: 0;
    margin: 0 5px 0 0;
    padding: 0;
}

.score-panel .stars li
{
    display: inline-block;

    list-style: none;
}

.score-panel .restart
{
    cursor: pointer;
}

/*
 * Styles for the Modal window
 */

.end-game-notification
{
    position: absolute;

    display: none;

    padding: 40px;

    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 5px 2px 20px 0 rgba(0,0,0, 1);
            box-shadow: 5px 2px 20px 0 rgba(0,0,0, 1);
}

.again-button
{
    padding: 10px 20px;

    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
    text-transform: uppercase;

    color: #fff;
    border: 1px solid #02ccba;
    border-radius: 5px;
    background-color: #02ccba;
}

.again-button:hover
{
    color: #02ccba;
    background-color: #fff;
}

/*
 * Media
 */

@media (max-width: 700px )
{
    .score-panel
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        width: 100%;
        max-width: 345px;
        padding: 0 10px 0 10px;
    }

    .deck
    {
        width: 100%;
        padding: 15px;
    }

    .card
    {
        margin: 10px;
    }

    .end-game-notification
    {
        width: 80%;
        margin: 0 auto;
    }
}
